/* breakpoint*/
.menu__cover header {
  transition: transform 0.6s ease-in-out;
}
.menu__cover:hover header {
  transform: scale(1.2);
  opacity: 0.5;
}

@-webkit-keyframes grow {
  to {
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
  }
}
@keyframes grow {
  to {
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
  }
}
@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@keyframes shake {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@-webkit-keyframes wiggle {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@keyframes wiggle {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
body {
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #579c87;
  border-top: 1px solid #a1c181;
}
@media (max-width: 320px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
footer a {
  color: #fec85f;
  font-family: "roboto", sans-serif;
  font-size: 1.6rem;
  padding: 0 1em 0 1em;
}
@media (max-width: 767px) {
  footer a {
    font-size: 1.4rem;
    line-height: 0em;
  }
}

.header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  border-bottom: 3px solid #76ad3e;
  margin-bottom: 60px;
}
.header h1 {
  color: #fec85f;
  font-family: "Montserrat", serif;
  font-size: 5rem;
  text-align: center;
}
@media (max-width: 767px) {
  .header h1 {
    font-size: 3em;
  }
}

.soon {
  font-size: 2em;
  justify-content: center;
  margin: 0em 0 2em 0;
}
.soon__coming p {
  border-radius: 5%/24%;
  padding: 3%;
  color: #fec85f;
  background: #579c87;
  width: max-content;
}

.bubble {
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: #fec85f;
}

.bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}

.bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}

.bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

.soon,
.footer p {
  position: relative;
}

.footer :hover {
  -webkit-animation: wiggle 5s ease-in;
  animation: wiggle 5s ease-in;
}

.page {
  text-align: center;
}
@media (min-width: 2000px) {
  .page {
    font-size: 2.5em;
  }
}
.page h2 {
  font-size: 3em;
}
@media (max-width: 320px) {
  .page h2 {
    font-size: 1.3rem;
    margin-top: 0em;
  }
}

.menu {
  box-shadow: 0px 0px 10px grey;
  padding: 3em;
  margin: 0 12em 8em 12em;
}
@media (max-width: 1024px) {
  .menu {
    margin: 0em 5em 10em 5em;
    padding: 1em 1em 2em 1em;
  }
}
@media (max-width: 767px) {
  .menu {
    margin: 0em 1em 10em 1em;
  }
}
.menu--enchantee img {
  width: 4em;
}
.menu h3 {
  position: relative;
}
.menu h3:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  display: block;
  transition: width 500ms ease;
  background-color: black;
}
.menu h3:hover:after {
  width: 100%;
}
.menu--enchantee {
  background-color: #fcdfdb;
}
.menu--enchantee p {
  font-family: "Devonshire", cursive, sans-serif;
  font-size: 40px;
  background: -webkit-linear-gradient(45deg, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--enchantee h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #3c1218;
}
.menu--chic {
  background-color: #fff5fe;
}
.menu--chic p {
  font-family: "croissant one";
  font-size: 30px;
  background: -webkit-linear-gradient(45deg, #c77412, #934af8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--chic h3 {
  font-family: "Croissant One", cursive, sans-serif;
  font-size: 35px;
  color: #c77412;
}
.menu--delice-papilles {
  background-color: #edefef;
}
.menu--delice-papilles p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  background: -webkit-linear-gradient(45deg, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--delice-papilles h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #0889fb;
}
.menu--palette-gout {
  background-color: #fdfffd;
}
.menu--palette-gout p {
  font-family: "Kaushan Script", cursive;
  font-size: 40px;
  background: -webkit-linear-gradient(45deg, #3e923a, #8eee8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu--palette-gout h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #72bf56;
}
.menu__cover {
  width: 40%;
  text-align: center;
}
.menu__detail--note {
  color: #3d1319;
}
.menu__detail--note h3::after {
  background-color: #3d1319;
}
.menu__detail--orange {
  color: #c77412;
}
.menu__detail--orange h3::after {
  background-color: #c77412;
}
.menu__detail--rose {
  color: #ac6baf;
}
.menu__detail--rose h3::after {
  background-color: #ac6baf;
}
.menu__detail--violet {
  color: #934af8;
}
.menu__detail--violet h3::after {
  background-color: #934af8;
}
.menu__step {
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
}
@media (max-width: 767px) {
  .menu__step {
    font-size: 1.4em;
  }
}
.menu__step header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}
.menu__step img {
  width: 30%;
  overflow: hidden;
}
.menu__step p {
  margin-bottom: 8px;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.menu__step__dishes {
  padding: 0 3em 0 3em;
}
@media (max-width: 320px) {
  .menu__step__dishes {
    padding: 0em;
  }
}

.menus--enchantee {
  background-color: #fcdfdb;
}
.menus--enchantee h2 {
  margin-top: 0;
  font-family: "Devonshire", cursive, sans-serif;
  background: -webkit-linear-gradient(45deg, #3c1218, #3c1218);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus--enchantee p, .menus--enchantee h3 {
  font-family: "Handlee", cursive, sans-serif;
}
.menus--chic {
  background-color: #fff5fe;
}
.menus--chic h2 {
  margin-top: 0;
  background: -webkit-linear-gradient(45deg, #c77412, #934af8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus--chic p, .menus--chic h3 {
  font-family: "Croissant One", cursive, sans-serif;
}
.menus--delice-papilles {
  background-color: #edefef;
}
.menus--delice-papilles h2 {
  margin-top: 0;
  background: -webkit-linear-gradient(45deg, #0229dd, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus--delice-papilles p, .menus--delice-papilles h3 {
  font-family: "Handlee", cursive, sans-serif;
}
.menus--palette-gout {
  background-color: #fdfffd;
}
.menus--palette-gout h2 {
  margin-top: 0;
  background: -webkit-linear-gradient(45deg, #3e923a, #8eee8e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menus--palette-gout p, .menus--palette-gout h3 {
  font-family: "Handlee", cursive, sans-serif;
}

.top-title img {
  width: 4em;
}

.last-title {
  margin-top: 5em;
}
.last-title img {
  width: 4em;
}
.last-title span {
  font-size: 1.4em;
}

.card {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #dbb3b3;
  margin-bottom: 5%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
}
@media (max-width: 767px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    margin-bottom: 3em;
  }
  .container .menu__cover {
    width: 80%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
