.menu__cover:hover a {
  transform: scale(1.2);
  transition: transform 0.6s ease-in-out;
  opacity: 0.3;
}

@-webkit-keyframes grow {
  to {
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
  }
}
@keyframes grow {
  to {
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
  }
}
@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@keyframes shake {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@-webkit-keyframes wiggle {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@keyframes wiggle {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
body {
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

.footer {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #579c87;
  border-top: 3px solid #a1c181;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.6em;
  font-family: "Roboto", sans-serif;
  margin: 0em;
}
.footer a {
  color: #fec85f;
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
}

.header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579c87;
  border-bottom: 3px solid #76ad3e;
  margin-bottom: 60px;
}
.header h1 {
  color: #fec85f;
  font-family: "Montserrat", serif;
  font-size: 5rem;
  text-align: center;
}

@media all and (max-width: 767px) {
  .header h1 {
    font-size: 3em;
  }
}
.soon {
  font-size: 2em;
  justify-content: center;
  margin: 0em 0 2em 0;
}
.soon__coming p {
  border-radius: 5%/24%;
  padding: 3%;
  color: #fec85f;
  background: #579c87;
  width: max-content;
}

.bubble {
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: #fec85f;
}

.bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}

.bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}

.bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

.soon,
.footer__contact,
.footer__legal-notice {
  position: relative;
}

.footer__contact:hover,
.footer__legal-notice:hover {
  -webkit-animation: wiggle 5s ease-in;
  animation: wiggle 5s ease-in;
}

.page {
  text-align: center;
}
.page h2 {
  font-size: 2em;
}

.menu {
  box-shadow: 0px 0px 10px grey;
  padding: 5em;
  margin: 0 14em 8em 14em;
}
.menu h3 {
  position: relative;
}
.menu h3:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  display: block;
  transition: width 500ms ease;
}
.menu h3:hover:after {
  width: 100%;
}
.menu--enchantee {
  background-color: #fcdfdb;
}
.menu--enchantee p {
  font-family: "Devonshire", cursive, sans-serif;
  font-size: 40px;
  color: #3d1319;
}
.menu--enchantee h2 {
  font-size: 40px;
}
.menu--enchantee h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #3d1319;
}
.menu--chic {
  background-color: #fff5fe;
}
.menu--chic p {
  font-family: "croissant one";
  font-size: 30px;
  color: #3d1319;
}
.menu--chic h3 {
  font-family: "Croissant One", cursive, sans-serif;
  font-size: 35px;
  color: #c67412;
}
.menu--delice-papilles {
  background-color: #edefef;
}
.menu--delice-papilles p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
.menu--delice-papilles h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #3d1319;
}
.menu--palette-gout {
  background-color: #fdfffd;
}
.menu--palette-gout p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #3d1319;
}
.menu--palette-gout h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #3d1319;
}
.menu__cover {
  width: 40%;
  text-align: center;
}
.menu__detail--one {
  color: orange;
}
.menu__detail--one h3::after {
  background-color: orange;
}
.menu__detail--too {
  color: #ac6baf;
}
.menu__detail--too h3::after {
  background-color: #ac6baf;
}
.menu__detail--tree {
  color: #934af8;
}
.menu__detail--tree h3::after {
  background-color: #934af8;
}
.menu__detail--for {
  color: blue;
}
.menu__detail--for h3::after {
  background-color: blue;
}
.menu__detail--five {
  color: #0059ff;
}
.menu__detail--five h3::after {
  background-color: #0059ff;
}
.menu__detail--six {
  color: #0099ff;
}
.menu__detail--six h3::after {
  background-color: #0099ff;
}
.menu__step {
  display: flex;
  flex-direction: column;
}
.menu__step h2 {
  font-size: 3em;
}
.menu__step span {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
}
.menu__step img {
  width: auto;
  overflow: hidden;
  margin: 1 0em;
}
.menu__step p {
  margin-bottom: 8px;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.menu__step .price {
  margin-top: 4px;
  font-weight: bold;
}

.all-menus--note {
  background: #f5e7f3;
}

.all-menus--note h2,
.menu--chic p {
  background: -webkit-linear-gradient(0deg, #c77412, #ac6baf, #934af8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-music {
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(#f15c61), to(#f6916a));
  background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.last-title .music-icon {
  font-size: 2rem;
}
.last-title span {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.menu--papilles {
  background-color: #f9f9f9;
  color: #20201d;
}
.menu--papilles .top-title h2 {
  font-family: sans-serif;
  font-size: 3rem;
  background: -webkit-linear-gradient(0deg, #0229dd, #0665f0, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu--delice-papilles h3,
.menu--delice-papilles p {
  background: -webkit-linear-gradient(0deg, #0229dd, #0665f0, #0889fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu--palette-gout h3,
.menu--palette-gout p {
  background: -webkit-linear-gradient(0deg, rgba(94, 255, 0, 0.445), rgba(0, 255, 21, 0.842), #00ff2a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media all and (max-width: 1024px) {
  .menu,
.page {
    margin: 0 1em 5em 1em;
    padding: 1em 1em 2em 1em;
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 2000px) {
  .page {
    font-size: 2.5em;
  }
}
@media all and (max-width: 520px) {
  .page {
    margin: auto;
    padding: 1em;
    flex-direction: column;
    text-align: center;
  }
  .page h2 {
    font-size: 2em;
  }
}
@media all and (max-width: 768px) {
  .page h2 {
    font-size: 1em;
  }
}
.card {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #dbb3b3;
  margin-bottom: 5%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
}

@media all and (max-width: 767px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    margin: auto;
  }

  .menu__cover {
    width: auto;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
