.menu__cover:hover a {
  transform: scale(1.2);
  transition: transform 0.6s ease-in-out;
  opacity: 0.3;
}

.ball-loader {
  border-radius: 5%/24%;
  padding: 1%;
  width: 100px;
  height: 23.3333333333px;
  position: absolute;
  top: 50%;
  left: 134%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.ball-loader-ball {
  will-change: transform;
  height: 23.3333333333px;
  width: 23.3333333333px;
  border-radius: 50%;
  background-color: lightBlue;
  position: absolute;
  -webkit-animation: grow 1s ease-in-out infinite alternate;
  animation: grow 1s ease-in-out infinite alternate;
}

.ball-loader-ball.ball1 {
  left: 0;
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.ball-loader-ball.ball2 {
  left: 50%;
  -webkit-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation-delay: 0.33s;
  animation-delay: 0.33s;
}

.ball-loader-ball.ball3 {
  right: 0;
  -webkit-animation-delay: 0.66s;
  animation-delay: 0.66s;
}

@-webkit-keyframes grow {
  to {
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
  }
}
@keyframes grow {
  to {
    -webkit-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
  }
}
@keyframes shakeAnim {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@keyframes shake {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@-webkit-keyframes wiggle {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@keyframes wiggle {
  0% {
    left: 0;
  }
  1% {
    left: -3px;
  }
  2% {
    left: 5px;
  }
  3% {
    left: -8px;
  }
  4% {
    left: 8px;
  }
  5% {
    left: -5px;
  }
  6% {
    left: 3px;
  }
  7% {
    left: 0;
  }
}
@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
body {
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
}

.footer {
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #579C87;
  border-top: 3px solid #a1c181;
  position: fixed;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.6em;
  font-family: "Roboto", sans-serif;
  margin: 0em;
}
.footer a {
  color: #FEC85F;
  font-family: "roboto", sans-serif;
  font-size: 1.5rem;
}

.header {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579C87;
  border-bottom: 3px solid #76ad3e;
  margin-bottom: 60px;
}
.header h1 {
  color: #FEC85F;
  font-family: "Montserrat", serif;
  font-size: 5rem;
  text-align: center;
}

.fa-music {
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(#f15c61), to(#f6916a));
  background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-title .music-icon {
  font-size: 2.5rem;
}
.top-title h2 {
  font-style: "Dancing Script", cursive;
  font-size: 2.5rem;
}

.last-title .music-icon {
  font-size: 2rem;
}
.last-title__title {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}

.menu__cover__card__step {
  font-family: "Handlee", cursive, sans-serif;
}

.menu__cover__card__step__dishes {
  font-family: "Handlee", cursive, sans-serif;
}

.menu--enchantee {
  background-color: #FCDFDB;
}
.menu--enchantee p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #3d1319;
}
.menu--enchantee h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #3d1319;
}
.menu--chic {
  background-color: linear-gradient(to right, #c67412 0%, #6e4ccc 100%);
}
.menu--chic p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: linear-gradient(to right, #c67412 0%, #6e4ccc 100%);
}
.menu--chic h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 1em;
  color: #3d1319;
}
.menu--delice-papilles {
  background-color: #edefef;
}
.menu--delice-papilles p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #3d1319;
}
.menu--delice-papilles h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #3d1319;
}
.menu--palette-gout {
  background-color: #fff5fe;
}
.menu--palette-gout p {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #3d1319;
}
.menu--palette-gout h3 {
  font-family: "Handlee", cursive, sans-serif;
  font-size: 40px;
  color: #3d1319;
}
.menu__cover {
  width: 35%;
  text-align: center;
}
.menu__cover__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 30px 12em;
  box-shadow: 2em;
  text-align: center;
}
.menu__cover__card__step {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu__cover__card__step__title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.menu__cover__card__step__dishes p {
  margin-bottom: 8px;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__cover__card__step .price {
  margin-top: 4px;
  font-weight: bold;
}

/*
    @media screen and (min-width: 768px){
       .menu__cover{
            >h2{
                font-size: 2.5rem;
            }
            padding-bottom: 100px;
            &__card{
                width: 90%;
                &__step{
                    width: 90%;
                    &__title{
                        position: relative;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 20px;
                        h3::after{
                            content: '';
                            display: block;
                            height: 4px;
                            width: 0;
                            transition: width .5s ease-in-out;
                        }
                        h3:hover::after{
                            width: 100%;
                        }
                        .side-bar{
                            display: block;
                            width: 30%;
                            height: 4px;
                        }
                    }
                    &__dishes{
                        p{
                            font-size: 1.6rem;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 1200px){
        .menu__cover{
            >h2{
                font-size: 4rem;
            }
            &__card{
                justify-content: space-around;
                width: 60%;

                &__step{
                    &__dishes{
                        width: 100%;
                        p{
                            width: 100%;
                            flex-direction: row;
                            justify-content: space-between;
                            text-align: start;
                        }
                    }
                }
            }
        }
        .menu--enchantee{
            .top-title{
                h2{
                    font-size: 3rem;
                }
            }
        }
        .menu--enchantee,.menu--chic{
            .top-title{
                h2{
                    font-size: 5rem;
                }
            }
            .menu__cover__card__step{
                &__dishes{
                    padding: 0 8%;
                    p{
                        span{
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }

*/
.card {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #e7e2e2;
  margin-bottom: 5%;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.menu--enchantee .menu__cover__card__step__title span {
  background-color: #181616;
}

.menu--enchantee .menu__cover__card__step h3::after {
  background: #111111;
}

.menu--chic .menu__cover__card__step__title span {
  background-color: #181616;
}

.menu--chic .menu__cover__card__step h3::after {
  background: #111111;
}

.menu--papilles .menu__cover__card__step__title span {
  background-color: #181616;
}

.menu--papilles .menu__cover__card__step h3::after {
  background: #111111;
}

.menu__cover__card__step__title {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.menu__cover__card__step__title h3::after {
  content: "";
  display: block;
  height: 4px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.menu__cover__card__step__title h3:hover::after {
  width: 100%;
}

.menu__cover__card__step__title .side-line {
  display: block;
  width: 30%;
  height: 4px;
}

.menu__cover__card__step__dishes p {
  font-size: 1.6rem;
  text-align: center;
}

.soon {
  display: flex;
  font-size: 1.6em;
  justify-content: center;
  margin: 1em 0 1em 14em;
  border-radius: 0.2em;
  padding: 5px 24px;
  color: #FEC85F;
  background: #579C87;
}

/*****/
.soon,
.footer__contact,
.footer__legal-notice {
  position: relative;
}

.soon:hover,
.footer__contact:hover,
.footer__legal-notice:hover {
  -webkit-animation: wiggle 5s ease-in;
  animation: wiggle 5s ease-in;
}

/*# sourceMappingURL=style.css.map */
