// sass sass/main.scss css/style.css --watch

@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/animations";
@import "./fondations/base";
@import "./fondations/typography";
@import "./layouts/footer";
@import "./layouts/header";
@import "./layouts/soon";
@import "./components/menu";
@import "./components/card";
@import "./components/container";

.notion-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 13em 0 13em;

  h1 {
    text-align: center;
    color: lightsalmon;
  }
  h2 {
    padding: 20px 0;
    text-align: center;
    color: yellowgreen;
  }

  p {
    font-size: 1.1rem;
  }
}
