.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-around;
  max-width: 1200px;
  margin: auto;
  @include respond-to("small"){
    
      display: flex;
      justify-content: space-evenly;
      align-content: space-around;
      margin-bottom: 3em;
      .menu__cover {
        width: 80%;
        text-align: center;
      }
    }
   
  }



