

.menu--chic{
    background-color: #fff5fe;
    color: #c77412;
  p{
      span{
          font-size: 1.2rem;
      }
  }
  .top-title{
      display: flex;
      flex-direction: column;
      align-items: center;
     
  }



  .menu__step{
      font-family: sans-serif;
   
      h3{
          font-size: 1.4rem;
      }
      &:nth-child(2){
          .menu__step__title{
              span{
                  background-color: $chic-gradient-color1;
              }
              h3{
                  color: $chic-gradient-color1;
                  &::after{
                      background-color: $chic-gradient-color1;
                  }
              }
          }
          .menu__step__dishes{
              color: $chic-gradient-color1;
          }
      }
      &:nth-child(3){
          .menu__step__title{
              span{
                  background-color: $chic-gradient-color2;
              }
              h3{
                  color: $chic-gradient-color2;
                  &::after{
                      background-color: $chic-gradient-color2;
                  }
              }
          }
          .menu__step__dishes{
              color: $chic-gradient-color2;
          }
      } 
      &:nth-child(4){
          .menu__step__title{
              span{
                  background-color: $chic-gradient-color3;
              }
              h3{
                  color: $chic-gradient-color3;
                  &::after{
                      background-color: $chic-gradient-color3;
                  }
              }
          }
          .menu__step__dishes{
              color: $chic-gradient-color3;
          }
      }   
  } 
}

// **********



.fa-music {
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(#f15c61), to(#f6916a));
  background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.top-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  .music-icon {
    font-size: 2.5rem;
  }

  h2 {

    font-style: "Dancing Script", cursive;
    font-size: 2.5rem;
  }
}

.last-title {
  .music-icon {
    font-size: 2rem;
  }

  &__title {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
  }
}
.menu__step {
  font-family: 'Handlee', cursive, sans-serif;




}




.menu__step__dishes {
  font-family: 'Handlee', cursive, sans-serif;
}