


// **********



.fa-music {
  font-size: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(#f15c61), to(#f6916a));
  background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

.top-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  .music-icon {
    font-size: 2.5rem;
  }

  h2 {

    font-style: "Dancing Script", cursive;
    font-size: 2.5rem;
  }
}

.last-title {
  .music-icon {
    font-size: 2rem;
  }

  &__title {
    font-family: "Dancing Script", cursive;
    font-size: 2rem;
  }
}
.menu__cover__card__step {
  font-family: 'Handlee', cursive, sans-serif;




}




.menu__cover__card__step__dishes {
  font-family: 'Handlee', cursive, sans-serif;
}