.page {
  text-align: center;
  @include respond-to("x-large") {
    font-size: 2.5em;
  }
  h2 {
    font-size: 3em;
    @include respond-to("mini") {
      font-size: 1.3rem;
      margin-top: 0em;
    }
  }
}
.menu {
  box-shadow: 0px 0px 10px grey;
  padding: 3em;
  margin: 0 12em 8em 12em;
  @include respond-to("medium") {
    margin: 0em 5em 10em 5em;
    padding: 1em 1em 2em 1em;
  }
  @include respond-to("small") {
    margin: 0em 1em 10em 1em;
  }

  h3 {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      width: 0%;
      height: 4px;
      display: block;
      transition: width 500ms ease;
    }
    &:hover:after {
      width: 100%;
    }
  }

  @each $modificateur-name, $variation in $menu-variations {
    &--#{$modificateur-name} {
      background-color: map-get($variation, background-color);

      p {
        font-family: map-get($variation, font-family-p);
        font-size: map-get($variation, font-size-p);
        //gestion du degrade present uniquement sur le titre du menu
        background: -webkit-linear-gradient(
          45deg,
          map-get($variation, couleur-debut-degrade),
          map-get($variation, couleur-fin-degrade)
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      h3 {
        font-family: map-get($variation, font-family-h3);
        font-size: map-get($variation, font-size-h3);
        color: map-get($variation, color-h3);
      }
    }
  }

  //code du style commun aux cover des menus
  &__cover {
    width: 40%;
    text-align: center;
  }
  &__detail {
    @each $modificateur-name, $color in $menu-colors {
      &--#{$modificateur-name} {
        color: map-get($color, color);

        h3::after {
          background-color: map-get($color, color);
        }
      }
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    font-size: 1.6em;
    span {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: auto;
    }
    img {
      width: 35%;
      overflow: hidden;
      margin: 1 0em;
    }
    p {
      margin-bottom: 8px;
      text-align: start;
      display: flex;
      justify-content: space-between;
    }
    &__dishes {
      padding: 0 3em 0 3em;
      @include respond-to("mini") {
        padding: 0em;
      }
    }
    .price {
      margin-top: 4px;
      font-weight: bold;
    }
  }
}

// @each $category in $color-categories {
//   $i: index($color-categories, $category);
//   .category0#{$i} {
//     @if length($category) == 2 {
//       background: -webkit-linear-gradient(nth($category, 1), nth($category, 2));
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }
//     @if length($category) == 3 {
//       background: -webkit-linear-gradient(
//         nth($category, 1),
//         nth($category, 2),
//         nth($category, 3)
//       );
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }
//     @if length($category) == 4 {
//       background: -webkit-linear-gradient(
//         nth($category, 1),
//         nth($category, 2),
//         nth($category, 3),
//         nth($category, 4)
//       );
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }

//boucle liner gradient
//   }
// }
//all menu
// .all-menus--note {
//   background: #fcdfdb;
//   font-family: "Devonshire", cursive, sans-serif;
//   h2 {
//     background: -webkit-linear-gradient(45deg, orange, violet);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
//   }
//   &--chic {
//     background: #fff5fe;
//     h2 {
//       background: -webkit-linear-gradient(45deg, orange, violet);
//       -webkit-background-clip: text;
//       -webkit-text-fill-color: transparent;
//     }
//     &--papilles {
//       background-color: #edefef;
//       h2 {
//         background: -webkit-linear-gradient(45deg, blue, #0d7dfd);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//       }

//       p {
//         color: rgb(32, 32, 29);
//       }
//       &--gout {
//         font-family: "Kaushan Script", cursive;
//         h2 {
//           background: -webkit-linear-gradient(45deg, green, #8eee8e);
//           -webkit-background-clip: text;
//           -webkit-text-fill-color: transparent;
//         }
//       }
//     }
//   }
// }
.menus__note {
  background: #fcdfdb;
  font-family: "Devonshire", cursive, sans-serif;
  h2{
    color: #3d1319;
  }
 
}



//Menu chic
.menus__chic
{
  background: #fff5fe;
  h2 {
          background: -webkit-linear-gradient(45deg, orange, violet);
          -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
       }
}


//// menu--papilles
.menus__papilles {
  background-color: #edefef;
  
  p {
    color: rgb(32, 32, 29);
  }

  h2 {
            background: -webkit-linear-gradient(45deg, blue, #0d7dfd);
        -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }
}


//PALETTE DU GOU

.menus__gout {
  font-family: "Kaushan Script", cursive;
  h2 {
              background: -webkit-linear-gradient(45deg, green, #8eee8e);
               -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
           }
} 

//icon music
.menu--enchantee img {
  width: 4em;
}
.top-title img {
  width: 4em;
}
.last-title {
  img {
    width: 3em;
  }
  span {
    font-size: 2em;
  }
}
//icon music
.menu--enchantee img {
  width: 4em;
}
.top-title img {
  width: 4em;
}
.last-title {
  img {
    width: 3em;
  }
  span {
    font-size: 2em;
  }
}
