.menu {
  //ajout de la boucle pour chaque modificateur spécifique à chaque menu
  // la variable utilisée qui est une map est dans le fichier variables !
  @each $modificateur-name, $variation in $menu-variations {
    &--#{$modificateur-name} {
      background-color: map-get($variation, background-color);
      //box-shadow: map-get($variation, $box-shadow-menu);
      p {
        font-family: map-get($variation, font-family-p);
        font-size: map-get($variation, font-size-p);
        color: map-get($variation, text-color-p);
      }
      h2 {
        font-size: map-get($variation, font-size-h2);
      }

      h3 {
        font-family: map-get($variation, font-family-h3);
        font-size: map-get($variation, font-size-h3);
        color: map-get($variation, text-color-h3);
      }
    }
  }

  //code du style commun aux cover des menus
  &__cover {
    width: 35%;
    text-align: center;
  }

  &__detail {
    @each $modificateur-name, $color in $menu-colors {
      &--#{$modificateur-name} {
        .menu__step__title,
        p,
        h3::after {
          color: map-get($color, color);
        }
      }
    }
  }
}

.menu__detail {
  @each $modificateur-name, $color in $menu-colors {
    &--#{$modificateur-name} {
      h3::after {
        background-color: map-get($color, color);
      }
    }
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 30px 12em;
  box-shadow: 2em;
  text-align: center;
  box-shadow: 0px 0px 10px grey;
  padding: 5em;
  margin: 0 5em 7em 5em;
}
.menu__step {
  @each $modificateur-name, $color in $menu-colors {
    &--#{$modificateur-name} {
      .menu__step__title {
        background: map-get($color, color);
      }
    }
  }
}

.menu__step {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-size: 1.5rem;
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
  }
  img {
    width: auto;
    overflow: hidden;
    margin: 1 0em;
  }

  &__dishes p {
    margin-bottom: 8px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    margin-top: 4px;
    font-weight: bold;
  }
}

.menus--note h2 {
  @include gradient-text(
    $deg,
    $chic-gradient-color1,
    $chic-gradient-color2,
    $chic-gradient-color3
  );
  font-size: 3em;
}

.menu--chic p {
  @include gradient-text(
    $deg,
    $chic-gradient-color1,
    $chic-gradient-color2,
    $chic-gradient-color3
  );
 
}

.menu h3 {
  position: relative;

  &:after {
    content: "";

    position: absolute;
    width: 1%;
    height: 2px;
    display: block;

    transition: width 500ms ease;
  }
  &:hover:after {
    width: 100%;
  }
}
