.menu__cover {
  header {
    transition: transform 0.6s ease-in-out;
  }
  &:hover header {
    transform: scale(1.2);
    opacity: 0.5;
  }
}

@-webkit-keyframes wiggle {
  0% {
    left: 0;
  }

  1% {
    left: -3px;
  }

  2% {
    left: 5px;
  }

  3% {
    left: -8px;
  }

  4% {
    left: 8px;
  }

  5% {
    left: -5px;
  }

  6% {
    left: 3px;
  }

  7% {
    left: 0;
  }
}

@keyframes wiggle {
  0% {
    left: 0;
  }

  1% {
    left: -3px;
  }

  2% {
    left: 5px;
  }

  3% {
    left: -8px;
  }

  4% {
    left: 8px;
  }

  5% {
    left: -5px;
  }

  6% {
    left: 3px;
  }

  7% {
    left: 0;
  }
}

@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}

@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    opacity: 0.25;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
}
