// Text gradient
@mixin gradient-text($deg, $color1, $color2, $color3){
 
  background: -webkit-linear-gradient($deg, $color1, $color2, $color3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

$color4:rgba(94, 255, 0, 0.445);
$color5:rgba(0, 255, 21, 0.842);
$color6:rgb(0, 255, 42);