$breakpoints: (
      mobile: 599px
    );
   /* @mixin mobile-only {
      @media screen and (max-width: map-get($breakpoints, mobile)){
          display: flex;
       flex-direction:column;
      }
    }
    
    @media screen and (min-width: 1200px)
    .main-suggestions__card{
        justify-content: space-around;
        width: 60%;
        height: 1200px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 768px)
   .main-suggestions__card {
        width: 90%;
    }
    .card-enchantee {
        background-color: #fcdfdb;
        color: #3c1218;
    }*/