/* breakpoint*/
$breakpoints: (
  "mini": (
    max-width: 320px,
  ),
  "small": (
    max-width: 767px,
  ),
  "medium": (
    max-width: 1024px,
  ),
  "large": (
    max-width: 1200px,
  ),
  "x-large": (
    min-width: 2000px,
  ),
) !default;

// Header Footer
$color-bar-font: #fec85f;
$color-card: #7c2f3c;
$color-bar: #579c87;
$body-bkg: rgb(255, 255, 255);
$box-shadow-menu: 0 0 10px rgba(0, 0, 0, 0.247);

$menu-colors: (
  note: (
    color: #3d1319,
  ),
  orange: (
    color: rgb(199, 116, 18),
  ),
  rose: (
    color: rgb(172, 107, 175),
  ),
  violet: (
    color: rgb(147, 74, 248),
  ),
);

$menu-variations: (
  enchantee: (
    background-color: #fcdfdb,
    font-family-p: (
      "Devonshire",
      cursive,
      sans-serif,
    ),
    font-family-h2: (
      "Devonshire",
      cursive,
      sans-serif,
    ),
    font-family-h3: (
      "Handlee" ,
      cursive,
      sans-serif,
    ),
    font-size-p: 40px,
    font-size-h2: 40px,
    font-size-h3: 40px,
    couleur-debut-degrade: #3c1218,
    couleur-fin-degrade: #3c1218,
    color-h3: #3c1218 //,,
  ),
  chic: (
    background-color: #fff5fe,
    font-family-p: (
      "croissant one",
    ),
    font-family-h3: (
      "Croissant One",
      cursive,
      sans-serif,
    ),
    font-size-p: 30px,
    font-size-h3: 35px,
    couleur-debut-degrade: #c77412,
    couleur-fin-degrade: #934af8,
    color-h3: #c77412,
  ),
  delice-papilles: (
    background-color: #edefef,
    font-family-p: (
      "Dancing Script",
      cursive,
    ),
    font-family-h3: (
      "Handlee",
      cursive,
      sans-serif,
    ),
    font-size-p: 40px,
    font-size-h3: 40px,
    couleur-debut-degrade: #0229dd,
    couleur-fin-degrade: #0889fb,
    color-h3: #0889fb,
  ),
  palette-gout: (
    background-color: #fdfffd,
    font-family-p: (
      "Kaushan Script",
      cursive,
    ),
    font-family-h3: (
      "Handlee",
      cursive,
      sans-serif,
    ),
    font-size-p: 40px,
    font-size-h3: 40px,
    couleur-debut-degrade: #3e923a,
    couleur-fin-degrade: rgb(142, 238, 142),
    color-h3: #72bf56,
  ),
);
