.restaurant__card:hover .main__card {
  transform: scale(1.2);
  opacity: 0.3;
  transition: 0.2s ease;
}



.soon {

    
    font-size: 1.6em;
    justify-content: center;
    margin: auto;
    border-radius: 1em;
    padding: 1% 2%;
    color:$color-bar-font;
    background:$color-bar;
    width: 25%;
  }/*****/

  
  .soon__ball-loader {
    width: 100px;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 80%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .ball-loader-ball {
    will-change: transform;
    height: 23.3333333333px;
    width: 23.3333333333px;
    border-radius: 50%;
    background-color: lightBlue;
    position: absolute;
    -webkit-animation: grow 1s ease-in-out infinite alternate;
    animation: grow 1s ease-in-out infinite alternate;
  }
  
  .ball-loader-ball.ball1 {
    left: 0;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }
  
  .ball-loader-ball.ball2 {
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-animation-delay: 0.33s;
    animation-delay: 0.33s;
  }
  
  .ball-loader-ball.ball3 {
    right: 0;
    -webkit-animation-delay: 0.66s;
    animation-delay: 0.66s;
  }
  
  @-webkit-keyframes grow {
    to {
      -webkit-transform: translateX(-50%) scale(0);
      transform: translateX(-50%) scale(0);
    }
  }
  
  @keyframes grow {
    to {
      -webkit-transform: translateX(-50%) scale(0);
      transform: translateX(-50%) scale(0);
    }
  }
  
  @keyframes shakeAnim {
    0% {
      left: 0
    }
  
    1% {
      left: -3px
    }
  
    2% {
      left: 5px
    }
  
    3% {
      left: -8px
    }
  
    4% {
      left: 8px
    }
  
    5% {
      left: -5px
    }
  
    6% {
      left: 3px
    }
  
    7% {
      left: 0
    }
  }
  
  @keyframes shake {
    0% {
      left: 0
    }
  
    1% {
      left: -3px
    }
  
    2% {
      left: 5px
    }
  
    3% {
      left: -8px
    }
  
    4% {
      left: 8px
    }
  
    5% {
      left: -5px
    }
  
    6% {
      left: 3px
    }
  
    7% {
      left: 0
    }
  }
  
  
  
  
  
  
  
  
  @-webkit-keyframes wiggle {
    0% {
      left: 0;
    }
  
    1% {
      left: -3px;
    }
  
    2% {
      left: 5px;
    }
  
    3% {
      left: -8px;
    }
  
    4% {
      left: 8px;
    }
  
    5% {
      left: -5px;
    }
  
    6% {
      left: 3px;
    }
  
    7% {
      left: 0;
    }
  }
  
  @keyframes wiggle {
    0% {
      left: 0;
    }
  
    1% {
      left: -3px;
    }
  
    2% {
      left: 5px;
    }
  
    3% {
      left: -8px;
    }
  
    4% {
      left: 8px;
    }
  
    5% {
      left: -5px;
    }
  
    6% {
      left: 3px;
    }
  
    7% {
      left: 0;
    }
  }
  
  @-webkit-keyframes pulse {
    from {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    to {
      opacity: .25;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
    }
  }
  
  @keyframes pulse {
    from {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    to {
      opacity: .25;
      -webkit-transform: scale(0.75);
      transform: scale(0.75);
    }
  }
  
  
  
  .soon,
  .footer__contact,
  .footer__legal-notice {
    position: relative;
  }
  
 
  .footer__contact:hover,
  .footer__legal-notice:hover {
    -webkit-animation: wiggle 5s ease-in;
    animation: wiggle 5s ease-in;
  }
  