.footer{
    height: 70px;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    background-color:$color-bar ;
    border-top: 3px solid #a1c181;
    position: fixed;
justify-content: space-between;
bottom: 0;
left: 0;
right: 0;  
font-size: 1.6em;
font-family: "Roboto", sans-serif;
margin: 0em;
    a{
        color: $color-bar-font;
        font-family:"roboto", sans-serif;
        font-size: 1.5rem;
    }
}

