.soon {
    font-size: 1.6em;
    justify-content: center;
    margin: 1em 0 4em 1em;
    border-radius: 1em;
    padding: 1% 2%;
    color: #FEC85F;
    background: #579C87;
    width: 25%;

  }/*****/
  

  
  .soon, 
  .footer__contact,
  .footer__legal-notice {
    position: relative;
  }
  
  
  .footer__contact:hover,
  .footer__legal-notice:hover {
    -webkit-animation: wiggle 5s ease-in;
    animation: wiggle 5s ease-in;
  }
  @media all and (max-width: 767px) {
    
    .soon{
    width: 80%;
     } }

     @media all and (max-width: 767px) {
    
      .ball-loader {
        border-radius: 5%/24%;
        padding: 1%;
        width: 60px;
        height: 23.3333333333px;
        padding: 2% 8%;
        top: 50%;
        left: 80%;
       } }

    
    
  
