.soon {
  font-size: 2em;
  justify-content: center;
  margin: 0em 0 2em 0;

  &__coming p {
    border-radius: 5% / 24%;
    padding: 3%;

    color: #fec85f;
    background: #579c87;
    width: max-content;
  }
}

.bubble {
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: #fec85f;
}

.bubble-1 {
  animation: pulse 0.4s ease 0s infinite alternate;
}
.bubble-2 {
  animation: pulse 0.4s ease 0.2s infinite alternate;
}
.bubble-3 {
  animation: pulse 0.4s ease 0.4s infinite alternate;
}

.soon,
.footer__contact,
.footer__legal-notice {
  position: relative;
}

.footer__contact:hover,
.footer__legal-notice:hover {
  -webkit-animation: wiggle 5s ease-in;
  animation: wiggle 5s ease-in;
}
